body,html{
	height:100%;
	margin:0;
}
.page-wrapper{
	min-height:100%;
	padding-bottom:100px;
	box-sizing:border-box;
	width: 340px;
    margin: auto;
}
.content{
	padding:20px 0;
}
footer{
	margin-top:-100px;
	height:100px;
}
.title{
	text-transform:uppercase;
	color:#6287ae;
	margin-bottom: 20px;
	font-weight:bold;
	font-size:18px;
}
ul {
	margin: 0;
    padding: 0;
    list-style: none;
	border:1px dotted #ccc;
	margin-bottom: 20px;
}
ul li{
	display:block;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	color:#6287ae;
	cursor:pointer;
	transition:all 0.1s ease;
}
ul li:last-child{
	border-bottom:none;
}
ul li:hover,ul li.sel{
	background:#6287ae;
	color:#fff;
}
.tariff_id span{
	
}

.tariff_id .name{
	
	font-weight:bold;
}
.tariff_id .price:after{
	content:' руб.';
}
.tariff_id .desc{
	display: block;
    padding: 10px 0 0 20px;
	margin-top:10px;
	font-size: 14px;
	border-top: 1px solid #ccc;
	color:#333;
}
.tariff_id li:hover .desc,.tariff_id li.sel .desc{
	color:#fff; 
}
.tariff_id .price{
	float: right
}
#form [type="submit"]{
	display:none;
}
[type="submit"]{
	background: #6287ae;
    border: none;
    padding: 8px 10px 9px;
    color: #fff;
    font-size: 14px;
    width: 100%;
	outline:none;
	cursor:pointer;
}
[type="submit"]:active{
	padding: 9px 10px 8px;
}