body{
	font-family: Roboto;
	padding-left: 30%;
}
.header{
	color: #838383;
    padding-left: 70px;
    background: url(/frontend/images/logo.jpg) no-repeat left center;
    height: 59px;
    padding-top: 10px;
    box-sizing: border-box;
	margin-top: 30px;
}
h1{
	font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 50px;
    color: #272727;
	margin-top: 80px;
}
h2{
	color:#818181;
	font-weight: 500;
    font-size: 18px;
	margin-top: 30px;
}
.button{
	display: inline-block;
    background: #3dd5fc;
    padding: 15px 30px;
    font-size: 17px;
    color: #272727;
	margin-top: 80px;
	cursor:pointer;
	-webkit-transition: background-color .56s cubic-bezier(0,.73,.76,.95),-webkit-box-shadow .56s cubic-bezier(0,.73,.76,.95);
    transition: background-color .56s cubic-bezier(0,.73,.76,.95),-webkit-box-shadow .56s cubic-bezier(0,.73,.76,.95);
    transition: box-shadow .56s cubic-bezier(0,.73,.76,.95),background-color .56s cubic-bezier(0,.73,.76,.95);
    transition: box-shadow .56s cubic-bezier(0,.73,.76,.95),background-color .56s cubic-bezier(0,.73,.76,.95),-webkit-box-shadow .56s cubic-bezier(0,.73,.76,.95);
    border: none!important;
    -webkit-box-shadow: inset 0 0 20px rgba(18,220,241,0),0 0 0 3px #3dd5fc,0 0 1px 1px #3dd5fc;
    box-shadow: inset 0 0 20px rgba(18,220,241,0),0 0 0 3px #3dd5fc,0 0 1px 1px #3dd5fc;
    text-shadow: none;
}
.button:before{
	content:"\f189";
	font-family:FontAwesome;
	padding-right:10px;
}
.button:hover{
	-webkit-transition: -webkit-box-shadow 1.125s cubic-bezier(.19,1,.22,1);
    transition: -webkit-box-shadow 1.125s cubic-bezier(.19,1,.22,1);
    transition: box-shadow 1.125s cubic-bezier(.19,1,.22,1);
    transition: box-shadow 1.125s cubic-bezier(.19,1,.22,1),-webkit-box-shadow 1.125s cubic-bezier(.19,1,.22,1);
    -webkit-box-shadow: inset 0 0 20px #64f1f1,0 0 30px 20px rgba(18,220,241,0),0 0 10px 3px #0db6c8;
    box-shadow: inset 0 0 20px #64f1f1,0 0 30px 20px rgba(18,220,241,0),0 0 10px 3px #0db6c8;
}
.browsers{
	margin-top: 30px;
}
.browsers>div{
	background:url('/frontend/images/chrome.png');
	width:50px;
	height:50px;
	display:inline-block;
	margin-right:20px;
	background-size:cover;
	
}
.browsers>div:nth-child(2){
	background-image:url('/frontend/images/yandex.jpg');
}