@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

html{
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    min-height: 100vh;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/*--------------top----------------*/

.top{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 15px 0 10px 0;
}

.logo{
    float: left;
}

.text{
    max-width: 400px;
    display: inline-block;
    margin: 6px 15px;
    color: #4d4d4d;
}

.menu{
    float: right;
    max-width: 50px;
    transition: all 0.5s ease-in-out;
}

.menu:hover{
    transform: rotate(90deg);
    transform-origin: 45% 50%;
}

.lines-menu{
    background-color: #4b4162;
    height: 6px;
    margin-top: 8px;
    width: 40px;
    border-radius: 35%;
}

.lines-menu:first-child{
    margin-top: 8px;
}

/*--------------content----------------*/



.content .text{
    font-size: 18px;
    max-width: 600px;
    margin: 6px 0;
}

.image{
    margin: 6px 0;
    float: right;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.25);
}

table{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.price{
    font-weight: 600;
}

.order{
    font-size: 20px;
    margin: 5px auto;
    width: 170px;
    height: 35px;
    background-color: #03a9f4;
    color: #fff;
    border: 1px solid #03a9f4;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.order:hover{
    background-color: white;
    color: #03a9f4;
}

@media screen and (max-width: 1200px)  {
    .logo, .content .text, table{
        margin-left: 15px;
    }

    .menu, .image, table{
        margin-right: 15px;
    }
}