@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

/* CSS Document 

Hello Friend! I wish you pleasant work with my code. :)
front-end:
		Pavel Dreit
		www.dreit.ru

*/

hr,
input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.veil,
sub,
sup {
	position: relative
}

img,
legend {
	border: 0
}

legend,
td,
th {
	padding: 0
}

html {
	font-family: "PT Sans", sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0;
	min-height: 100vh;
}

article,
aside,
body>header,
details,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
optgroup,
strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	height: 0
}

pre,
textarea {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	outline: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a:hover {
	text-decoration: underline
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ' '
}

* {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.limit {
	max-width: 1220px;
	padding: 0 10px;
	margin: auto;
}

body {
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

html {
	min-width: 770px;
}

.left,
.right {
	float: left;
	width: 50%;
	min-height: 100vh;
	position: relative;
	padding-top: 100px;
}

.right {
}

.right video {
	margin: 50px auto;
	margin-top: 10%;
	margin-bottom: 30px;
	margin-left: 10%;
}

header {
	padding: 15px 0 10px;
	background-color: rgba(0, 0, 0, .08);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

header .limit {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .logo {
	float: left;
	display: inline-block;
}

header .text {
	font-size: 16px;
	color: #4d4d4d;
	margin: 6px 15px;
	max-width: 500px;
	display: inline-block;
}

header .btn {
	padding: 8.33px 18.83px;
	border: 2px solid rgba(75, 65, 98, 0.6);
	display: inline-block;
	color: #4B4162;
	border-radius: 4px;
}

header .btn .vk-logo {
	background-image: url(../images/vkntkte.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 16.67px;
	width: 29.17px;
	display: inline-block;
	margin: 0 10px -3px -5px;
}

section {
	padding-top: 10%;
	margin-bottom: 200px;
}

section .title {
	font-size: 38px;
	font-weight: bold;
	color: #4d4d4d;
}

section * {
	font-family: inherit;
	font-size: inherit;
}

.vk-mark {
	display: inline-block;
	background-color: #4d4d4d;
	color: #fff;
	padding: 9px;
	line-height: 12px;
	border-radius: 8px;
	height: 38px;
	margin-right: 2px;
}

section .desc1 {
	font-size: 20px;
	color: #4d4d4d;
	margin-top: 10px
}

section .btn {
	padding: 10px 25px;
	background-color: #03A9F4;
	/* rgb(0, 147, 224) */
	display: inline-block;
	margin-top: 65px;
	margin-bottom: 5px;
	color: #fff;
	border-radius: 4px;
	border: none;
}

section .btn[disabled] {
	background-color: #888;
}

section .desc2 {
	font-size: 13px;
	color: #4d4d4d;
	font-style: italic;
	font-weight: bold;
	margin: 20px 0;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 40px;
}
.footer-links{
	padding-bottom: 20px;
}
.footer-links a{
	color: #4d4d4d;
    font-style: italic;
	text-decoration:underline;
}
footer .text {
	font-size: 20px;
	color: #4d4d4d;
	font-style: italic;
	margin: 15px 0 15px;
}

[data-modal] {
	padding: 55px 30px 10px;
}

[data-modal] h1 {
	font-size: 1.4em;
}

[data-modal] ul {
	padding: 0;
	margin-top: 30px
}

[data-modal] ul li {
	list-style-type: none;
	margin: 10px auto;
	text-align: center;
}

[data-modal] p {
	text-align: center;
}

[data-modal] ul li a {
	display: inline-block;
	max-width: 250px;
	width: 90%;
}

[data-modal] ul li img {
	width: 100%;
}